* {
  box-sizing: border-box;
}

h1 {
  margin: 2px 0;
}

.container {
  flex-direction: column;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultinitial {
  margin: 0;
  text-transform: uppercase;
  color: green;
  font-weight: bold;
  font-size: 20px;
}

.resultwin {
  margin: 0;
  text-transform: uppercase;
  color: rgb(202, 161, 49);
  font-weight: bold;
  font-size: 20px;
}

.resultwrong {
  margin: 0;
  text-transform: uppercase;
  color: rgb(231, 64, 64);
  font-weight: bold;
  font-size: 20px;
}

.resultgood {
  margin: 0;
  text-transform: uppercase;
  color: rgb(0, 119, 255);
  font-weight: bold;
  font-size: 20px;
}

.board {
  max-width: 800px;
  max-height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttons button {
  border: none;
  height: 40px;
  width: 150px;
  margin: 10px 10px;
  background: #60b3da;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase
}

.buttons button:hover {
  background: #4d626b;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  display: flex;
  background-color: #ffffff;
  padding: 0 30px 30px;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.tile {
  width: 11%;
  margin: 0;
  text-align: center;
  font-size: 1rem;
  padding: 3% 0;
  font-weight: bold;
  background: #60b3da;
  color: #292929;
  border: 1px solid #2f3640;
}

.tile:hover {
  background: #4d626b;
}

.tileinitial {
  width: 11%;
  margin: 0;
  text-align: center;
  font-size: 1rem;
  color: red;
  font-weight: bold;
  padding: 3% 0;
  border: 1px solid #2f3640;
}

.tileinitial:disabled {
  background: #ffe9e8;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input:nth-child(9n + 1) {
  border-left: 3px solid #2f3640;
}

input:nth-child(n + 73) {
  border-bottom: 3px solid #2f3640;
}

input:nth-child(3n) {
  border-right: 3px solid #2f3640;
}

input:nth-child(27n + 1),
input:nth-child(27n + 2),
input:nth-child(27n + 3),
input:nth-child(27n + 4),
input:nth-child(27n + 5),
input:nth-child(27n + 6),
input:nth-child(27n + 7),
input:nth-child(27n + 8),
input:nth-child(27n + 9) {
  border-top: 3px solid #2f3640;
}

@media (max-width: 768px) {
  .buttons {
    flex-wrap: wrap;
  }

  .modal .buttons {
    flex-direction: column;
  }

}