* {
  box-sizing: border-box;
}

.container {
  flex-direction: column;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  max-width: 800px;
  max-height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
}

.tile {
  width: 11%;
  margin: 0;
  text-align: center;
  font-size: 1rem;
  padding: 3% 0;
  color: black;
  font-weight: bold;
  border: 1px solid #2f3640;
}
.tile:disabled {
    background: #aedef5;
}

.tileinitial {
    width: 11%;
    margin: 0;
    text-align: center;
    font-size: 1rem;
    color: red;
    font-weight: bold;
    padding: 3% 0;
    border: 1px solid #2f3640;
}

.tileinitial:disabled{
    background: #ffe9e8;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

input:nth-child(9n + 1) {
    border-left: 3px solid #2f3640;
}

input:nth-child(n + 73) {
    border-bottom: 3px solid #2f3640;
}

input:nth-child(3n) {
    border-right: 3px solid #2f3640;
}
input:nth-child(27n + 1),
input:nth-child(27n + 2),
input:nth-child(27n + 3),
input:nth-child(27n + 4),
input:nth-child(27n + 5),
input:nth-child(27n + 6),
input:nth-child(27n + 7),
input:nth-child(27n + 8),
input:nth-child(27n + 9) {
    border-top: 3px solid #2f3640
}
